# Core functionality - changes here should be rare!
/src/app.py                   @zawlinhein
/src/backend/database.py      @zawlinhein
/src/backend/routers/auth.py  @zawlinhein

# The frontend will need refactored soon to be more object oriented.
/src/static/   @zawlinhein
